<% include ../partials/header %>

<div class="container">
    <h1 class="mb-5">Add a New Comment to
        <%= campground.name %>
    </h1>

    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <div class="form-group">
            <label for="text">Your Comment</label>
            <input class="form-control form-control-lg" type="text" name="comment[text]" id="text" placeholder="text">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block my-5">Add New Comment</button>
    </form>

    <hr class="my-5">

    <p>
        <a href="/campgrounds">Go back to the Campgrounds page</a>
    </p>
</div>


<% include ../partials/footer %>