<% include partials/header %>

<div class="container">
    <h1>Index!</h1>

    <p>Welcome to YelpCamp!</p>

    <p>
        <a href="/campgrounds">View all campgrounds</a>
    </p>
</div>

<% include partials/footer %>